<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.CompcGroup">
<booleanAttribute key="ADVANCED_TELEMTRY" value="false"/>
<stringAttribute key="ARGUMENTS" value=" -target-player={playerVersion}"/>
<listAttribute key="COMPILER_CONSTANTS"/>
<stringAttribute key="COMPILER_TECHNOLOGY" value="Flex SDK"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="[Self]"/>
<stringAttribute key="MAIN_CLASS" value=""/>
<stringAttribute key="OUTPUT" value="www/assets/DataVisualizationExample.swc"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_DEFINES" value="true"/>
<booleanAttribute key="PASS_EXTERNS" value="true"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<stringAttribute key="PROJECT_NAME" value="DataVisualizationExample"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DataVisualizationExample"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
